/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

.DS_Store
.env
.env.*
!.env.example
.svelte-kit

build
node_modules
package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
